import request from '@/utils/request'

// 查询${functionName}列表
export function list${BusinessName}(params) {
  return request({
    url: '/buyer/${moduleName}/${businessName}',
    method: Method.GET,
    needToken: true,
    params: params
  })
}

// 查询${functionName}详细
export function get${BusinessName}(${pkColumn.javaField}) {
  return request({
    url: '/buyer/${moduleName}/${businessName}/' + ${pkColumn.javaField},
    method: Method.GET,
    needToken: true
  })
}

// 新增${functionName}
export function add${BusinessName}(data) {
  return request({
    url: '/buyer/${moduleName}/${businessName}',
    method: Method.POST,
    needToken: true,
    data: data
  })
}

// 修改${functionName}
export function update${BusinessName}(data) {
  return request({
    url: '/buyer/${moduleName}/${businessName}',
    method: Method.PUT,
    needToken: true,
    data: data
  })
}

// 删除${functionName}
export function del${BusinessName}(${pkColumn.javaField}) {
  return request({
    url: '/buyer/${moduleName}/${businessName}/' + ${pkColumn.javaField},
    method: Method.DELETE,
    needToken: true
  })
}