package ${packageName}.entity.dto;

import cn.com.bbmg.bidmall.common.vo.PageVO;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.toolkit.StringUtils;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
#foreach ($import in $importList)
import ${import};
#end

/**
 * ${functionName}查询条件
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@ApiModel(value = "${functionName}查询参数(${ClassName}SearchParams)")
public class ${ClassName}SearchParams extends PageVO {
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    #set($parentheseIndex=$column.columnComment.indexOf("（"))
    #if($parentheseIndex != -1)
        #set($comment=$column.columnComment.substring(0, $parentheseIndex))
    #else
        #set($comment=$column.columnComment)
    #end
    #if($column.isQuery == 1)
    @ApiModelProperty(value = "$comment")
    #if($column.javaType == 'Date')
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    #end
    private $column.javaType $column.javaField;

    #end
#end
}